.filters {
/*  color: white; */
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-top: 11px;
    position: absolute; /* absolutely positioned relative to filters class */
    right: 30px;
} 

button:hover {
    opacity: .9;
}

.locations, .amenities {
    height: 100%; 
    width: 25%;
    display: inline-block;
    margin-left: 30px;
    line-height: 10px;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}
h3 {
    font-weight: 600;
}